
.form-container {
  border: 2px solid #1111;
  padding: 30px;
  margin: 15px;
  text-align: left;
  align-items: center; 
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  position: relative;

  .form-title {
    color: #D43E36;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 20px;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-field {
    flex: 1;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
    
    label, .placeholder {
      display: block;
      margin-bottom: 5px;
      text-align: left;
      color: #B7B1A9;
    }

    input, select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      margin-top: 5px;
      border-radius: 10px;
      border: 1px solid #B7B1A9;
      font-family: 'Open Sans', sans-serif; 
    }

    input[type="checkbox"] {
      margin-right: 5px;
      align-self: flex-start;
    }
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin:auto;
  }

  .check-row{  
    text-align: left;
    color: #B7B1A9;
    .checkbox-field {
      display: flex;
      align-items: center;
      margin: 10px;
      .blue-text {
        color: #1A36A8;
        font-weight: bold;
      }
      
    }
  }
  
  .register-button {
    background-color: #1A36A8;
    color: #fff; 
    padding: 20px 80px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  }

  .offers-paragraph{
    color: #B7B1A9;
    font-size: 15px;
    padding: 5px 10px;
  }

  .corner-image {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }
  .red-text {
    color: #D43E36;
    font-weight: bold;
  }
  .captcha-container {

    align-items: baseline;
      .captcha-image{
        height: 50px;
        width: 200px;
      }

      .reload-button{
        background-color: #1A36A8;
        color: #fff;
        border-radius: 5px;
        margin-left: 5px;
        border: none;
        cursor: pointer;
        padding: 10px;
      }
  }
}
