.anuncio-container {
    background-color: white;
    margin: 0 30px 30px 30px;
    padding: 20px;

  .second-container{
    border: 2px dashed #003383;
    padding: 10px;
    border-radius: 10px;
    .fila {
      width: 100%;
    }
  
    .section {    
        .section-title {
          color: #DB0FA8;
          font-size: 40px;
          margin: 0;
        }
    
        .section-image {
          img {
            max-width: 70%;
            height: auto;
          }
        }
      }
    .fila-3 {
        display: flex;
        height: 50%;
      .columna {
        flex: 1;
        margin: 0;
      }
      .izquierda {
        text-align: center;
        margin: 0;
        .porcentaje {
          color: #DB0FA8;
          text-shadow: 2px 2px 5px #E27C1E;
          font-size: 100px;
          margin: 0;
        }
      }
      .derecha {
        text-align: left;
        font-size: 35px;
        font-weight: bold;
        color: #003383;
        margin: 0;
        .cyber-days {
          color: #DB0FA8;
          margin: 0;
        }
      }
    }
  
    .fila-4,
    .fila-5,
    .fila-6 {
      text-align: center;
      color: #003383;
      margin: 0;
    }
  
    }
  }
  