.step-container {
    text-align: center;
    padding: 20px;
  
    .section {
      margin: 0;
  
      .section-title {
        color: blue;
        font-weight: bold;
      }
  
      .section-image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  
    .section-title2 {
      color: #B7B1A9;
  
      .red-text {
        color: red;
      }
    }
  
    .steps {
      display: flex;
      justify-content: space-between;
  
      .step {
        flex: 1;
        margin: 0;
        
        .step-title {
          color: blue;
          font-weight: bold;
          font-size: 25px;
        }
  
        .step-circle {
          border: 5px solid grey;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 10px auto;
          background-color: blue;  
          img {
            max-width: 100%;
            height: auto;
          }
        }
  
        .step-text {
          color: blue;
          font-weight: bold;
          margin: 0;
          font-size: 25px;
        }
        .p-container{
          padding: 0 25px;
        }
        .p-text{
          color: #B7B1A9;
        }
      }
    }

    @media (max-width: 768px) {
        .steps {
          flex-direction: column; 
          align-items: center;
          
          .step {
            margin-bottom: 20px;
          }
        }
      }
  }
  