.anuncio-container {
    background-color: white;
    margin: 30px;

  .second-container{
    border: 2px dashed #003383;
    padding: 10px;
    .fila {
      width: 100%;
    }
  
    .section {
        margin: 0;
    
        .section-title {
          color: #DB0FA8;
          font-size: 50px;
          margin: 0;
        }
    
        .section-image {
          margin: 0;
          img {
            max-width: 100%;
            height: auto;
            margin: 0;
          }
        }
      }
    .fila-3 {
        display: flex;
        height: 50%;
        margin: 0;
      .columna {
        flex: 1;
        margin: 0;
      }
      .izquierda {
        text-align: center;
        margin: 0;
        .porcentaje {
          color: #DB0FA8;
          text-shadow: 2px 2px 5px yellow;
          font-size: 100px;
          margin: 0;
        }
      }
      .derecha {
        text-align: center;
        font-size: 27px;
        margin: 0;
        .cyber-days {
          color: #DB0FA8;
          margin: 0;
        }
      }
    }
  
    .fila-4,
    .fila-5,
    .fila-6 {
      text-align: center;
      color: #003383;
    }
  
    .icono-tijera-rectangulo {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #003383;
      font-size: 24px;
    }
  
    }
  }
  