.Body1 {
    text-align: left;
    color: white;
    background-color: #1A36A8;
    padding: 30px;
    font-weight: bold;
    margin: 0;
  
    .top-section {
      display: flex;
      align-items: center;
    }
    
    .centered-image {
      margin-right: 10px;
    }
    
    .text-container {
      display: flex;
      flex-direction: column;
    }
    .first-line {
      font-size: 25px;
      margin: 0;
    }
    .second-line {
      font-size: 50px;
      margin: 0;
    }
  
    .more-one {
      display: flex;
      flex-direction: column;
      .third-line{
        font-size: 50px;
        margin: 0;
        .small-text{
          font-size: 30px;
        }
      }
      img {
        width: 200px;
        height: 20px; 
        margin: 0 0 10px 50px;
      }
      
    }
    .last-line{
      font-size: 25px;
      margin: 0;
    }
  }
  