.captcha-container {
    display: flex;
    align-items: center;
  }
  
  .captcha-image {
    width: 300000px; 
    height: auto; 
    margin-right: 10px;
  }
  
  .captcha-form {
    display: flex;
    align-items: center;
  }
  
  .input-field {
    margin-right: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px; 
  }
  