.body3 {
    text-align: center;
    padding: 20px;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: #ffff; 
        color: #1A36A8; 
      }
      
      .logo img {
        width: 80px; 
        height: auto;
      }
    .section {
      margin: 0;
  
      .section-title {
        color: blue;
        font-weight: bold;
      }
  
      .section-image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  
   
  }
  