.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #1A36A8; 
    color: #1A36A8; 
  }
  
  .logo img {
    width: 80px; 
    height: 110%;
  }
  